<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Pi Pico</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pipico.css?v=100" rel="stylesheet">
</head>

<body>
    <div class="col-xl-8 mx-auto p-0">
        <header class="d-flex align-items-center pb-1 mx-2 m-xl-0">
            <a href="//pipico.pl" class="d-flex fs-1 text-decoration-none">
                <span class="brand-a">://</span><span class="brand-b">pipico.pl</span>
            </a>
        </header>

        {{ content }}

        <footer class="pt-2 my-2 text-muted border-top mx-2 m-xl-0">
            Copyright &copy; 2021 - {{ 'now' | date: "%Y" }}
            <a class="text-decoration-none" href="//pipico.pl"><span class="brand-a">://</span><span class="brand-b">pipico.pl</span></a>
        </footer>
    </div>
</body>

</html>