<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Pi Pico</title>
    <meta name="keywords" content="Raspberry Pi, Pico">

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/pipico.css?v=100" rel="stylesheet">
</head>

<body>
    <div class="col-xl-8 mx-auto p-0">
        <header class="d-flex align-items-center pb-1 mx-2 m-xl-0">
            <a href="//pipico.pl" class="d-flex fs-1 text-decoration-none">
                <span class="brand-a">://</span><span class="brand-b">pipico.pl</span>
            </a>
        </header>

        {{ content }}

        <footer class="pt-2 my-2 text-muted border-top mx-2 m-xl-0">
            <div>
                Copyright &copy; 2021 - {{ 'now' | date: "%Y" }}
                <a class="text-decoration-none" href="//pipico.pl">
                    <span class="brand-a">://</span><span class="brand-b">pipico.pl</span>
                </a>
            </div>
            <div>Nie używamy plików cookie.</div>
        </footer>
    </div>

    <script>(()=>{function n(n="edf5d6bf",o="view"){var t;window._phantom||window.navigator.webdriver||window.Cypress||((t={}).event=o,t.url=window.location.href,t.hash=n,t.referrer=window.document.referrer||null,t.browser_lang=navigator.language||null,(async n=>{await fetch("https://handler.rgstat.com",{method:"POST",headers:{"Content-Type":"text/plain"},body:JSON.stringify(n)})})(t))}n();var o=window.location.href,t=history.pushState;window.history.pushState=function(){t.apply(this,arguments),o!==window.location.href&&(o=window.location.href,n())},window.addEventListener("popstate",()=>{o!==window.location.href&&(o=window.location.href,n())})})();</script>
</body>

</html>